<!DOCTYPE html>
<html>

<head>
    <title>new</title>
</head>

<body>
    <h1>Hellow world</h1>
    <a href="/">Home</a>

    <form action="/articles" method="post">
        <input type="text" name='title'>
        <input type="text" name='content'>
        <button type="submit" name="Submit">Submit</button>
    </form>
</body>

</html>