<h1>Hello</h1>
<a href="/">Home</a>
<br>
<a href="/articles/<%= @article.id %>/edit">Edit</a>
<br>
<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <button type="submit" name="Submit">Delete</button>
</form>
<br>
<%= @article.title %>
<br>
<%= @article.content %>
<!-- #delete button -->